*
{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-size: cover;
    font-family: sans-serif;
    background-position: center;
    background-color: whitesmoke;
}
.menu-bar
{  
    text-align: center;
    color:white;
    background: rgb(246, 248, 246);
    border-bottom:5px  solid whitesmoke;
    box-shadow:  5px black;
    padding-bottom: 20px;
    
    
}
.logo{
  float: left;
  width: 70px;
  margin: 30px;
  margin-bottom: 10px;
  margin-top: 10px;

}
.menu-bar ul 
{
  
    display: inline-flex;
    list-style: none;
    color: green;
    padding-right: 50px;
    
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: green;
    padding-top: 40px;
}
.active,.menu-bar ul li:hover 
{
    background:rgb(247, 245, 245);
    border-radius: 3px;
    z-index: index 999;;
}
.menu-bar .fa
{
    margin-right: 8px;
}

.dropdown-menu-1{
    display: none;
    background: green;
  
}
.active, .dropdown-menu-1 a{
  color: #fff;
}
.active,.menu-bar ul li:hover .dropdown-menu-1{
    display: block;
    position: absolute;
    background: rgb(246, 248, 246);
    z-index: 999;
}
.menu-bar ul li:hover .dropdown-menu-1 ul{
    display: block;
    margin: 5px; 
}
.menu-bar ul li:hover .dropdown-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .dropdown-menu-1 ul li:last-child{
    border-bottom: none;
}
.header {
    padding: 40px; 
    text-align: center; 
    background: green;
    color: white; 
    width: auto;
    
    border-radius: 15px;
  }
  .header h1 {
    font-size: 80px;
  }
  .navbar a.right {
    float: right;
  }
  .navbar {
    overflow: hidden;
    background-color: white;
  }
  .navbar a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
    .navbar a:hover {
        background-color: gray;
        color: white;
  }
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  .fakeimg {
    background-color: darkgreen;
    width: 100%;
    padding: 10px;
    background-image: url(img1.jpg);
  }
  .slider-wrapper .image-list{
    background-color:grey;
    display: grid;
    gap: 1px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,1fr);
  }
  .slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
  }
  .container{
    max-width: 1200px;
    width: 95% ; 
  }

  .slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
  }

  .container .slider-scrollbar{
    height: 24px;
    width: 100%;
    background:  white;
    display: flex;
    align-items: center;
  }

.slider-scrollbar .scrolbar-track{
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}
.slider-scrollbar .scrolbar-thumb{
  position: absolute;
  height: 100px;
  width: 50%;
  background: #000; 
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar .scrolbar-track:active{
  cursor: grabbing;
  height: 8px;
  top: 2px;
}
.slider-scrollbar .scrolbar-thumb ::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
@media screen (max-width:500px;) {
  .menu-bar{
    justify-content: center;
    align-items: center;
    padding: 500px;
  }
  .logo{
    display: none;
  }
}